<%- include('partials/header-course'); -%>


<!-- Main Site -->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="newCourse" class="boder-shadow">
                <span class="text-gradient">
                    New Course <i class="fa-solid fa-book-open"></i>
                </span>
            </a>
        </div>

        <!-- form handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name Course</th>
                        <th class="td-max-d">Description</th>
                        <th>Image</th>
                        <th>Course Price</th>
                        <th>Create time</th>
                        <th>Update time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < courses.length;i++) {%>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= courses[i].nameCourse %></td>
                        <td class="td-max-d"><%= courses[i].descriptionCourse %></td>
                        <td><%= courses[i].imageCourse %></td>
                        <td><%= courses[i].costCourse %></td>
                        <td><%= courses[i].createdAtCourse %></td>
                        <td><%= courses[i].updateAtCourse %></td>
                        <td>
                            <a href="update-course" class="btn border-shadow update">
                                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                            </a>
                            <a class="btn border-shadow delete">
                                <span class="text-gradient"><i class="fa-solid fa-trash"></i></span>
                            </a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </form>
    </div>
</main>

<!-- End Main Site -->



<%- include('partials/footer-course'); -%>