<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lập Trình JavaScript Cơ bản</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/styles.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body class="container2">
    <!-- About Start -->
    <div class="container-fluid-1">
        <div class="row-2">
            <div class="col-13 my-container2">
                <div class="col-lg-7-11">
                    <div class="video-view">
                        <iframe width="900" height="500" src="//www.youtube.com/embed/<%= lectures.VideoId %>"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="noidung-course col-lg-24">
                    <header class="wrapper">
                        <h2>
                            <%= lectures.nameLecture %>
                        </h2>
                        <p>
                            Cập nhật tháng 11 năm 2022
                        </p>
                        <span>
                            Tham gia nhóm Học lập trình tại CourseHub trên Facebook để cùng nhau trao đổi trong quá
                            trình học tập ❤️
                        </span>
                        <br>
                    </header>
                    <hr>
                    <div class="content-course">
                        <span>
                            <%= lectures.contentLecture %>
                        </span>
                        <div class="class-note">
                            <span>
                                <%= lectures.noteLecture %>
                            </span>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

            <div class="col-3 my-container3">
                <header>
                    <h5 style="color: black; font-size: 20px;">Nội dung khóa học</h5>
                </header>
                <div class="tong-all-1">
                    <% let totalChapters=0; %>
                        <% let totalLectures=0; %>
                            <% for (let j=0; j < courseContent.length; j++) { %>
                                <% totalChapters++; %>
                                    <div class="nav-baihoc-2" data-target="tonghop-baihoc-<%= j %>">
                                        <div class="baihocc<%= j + 1 %>">
                                            <h6 class="h6-god">
                                                <span class="icon expand-icon">+</span>
                                                <span>
                                                    <%= j + 1 %>. <%= courseContent[j].nameCourseContent %>
                                                </span>
                                            </h6>
                                        </div>
                                    </div>
                                    <% totalLectures +=lectureList[j].length; %>
                                        <div class="tonghop-baihoc-1" id="tonghop-baihoc-<%= j %>">
                                            <% for (let k=0; k < lectureList[j].length; k++) { %>
                                                <a
                                                    href="/course-learning/<%= courses.slug %>?id=<%= lectureList[j][k]._id %>">
                                                    <div class="noidung-baihoc">
                                                        <div class="baihocc-div1">
                                                            <span>
                                                                <%= (totalLectures - lectureList[j].length + k + 1) %>.
                                                                    <%= lectureList[j][k].nameLecture %>
                                                            </span>
                                                            <span class="time-baihoc">
                                                                <%= lectureList[j][k].duration %>
                                                            </span>
                                                        </div>
                                                        <h2>
                                                            <%= lectureList.contentLecture %>
                                                        </h2>
                                                    </div>
                                                </a>
                                                <% } %>
                                        </div>
                                        <% } %>
                </div>
                <div class="row-container" style="display: none;">
                    <h5 style="color: black; font-size: 20px;">Nội dung khóa học</h5>
                    <div class="noidung-cl">
                        <ul>
                            <li><strong>
                                    <%= totalChapters %>
                                </strong> chương</li>
                            <li><strong>
                                    <%= totalLectures %>
                                </strong> bài học</li>
                            <li><span>Thời lượng <strong>10 giờ 26 phút</strong></span></li>
                        </ul>
                        <div class="morongvathunho-1"><a class="btn" style="color: orangered;" id="morongtatca">Mở rộng
                                tất cả</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark nav-course1"
            style="background-color: rgb(41, 48, 59);">
            <a class="navbar-brand" href="/" style="margin-left: 40px;">
                <!-- <img src="img/CourseHub.png" alt="" style="width: 40px; height: 40px;margin-right: 10px;"> -->
                <%= courses.nameCourse %>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" style="margin-left: auto; color: white;">
                    <li class="nav-item active">

                        <a class="nav-link" href="#">
                            <%= lectures.totalViewedCount %>/<%= totalLectures %> bài học
                        </a>


                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-sticky-note"
                                style="width: 20px; height: 20px;"></i>
                            Ghi chú</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="far fa-question-circle"
                                style="width: 20px; height: 20px;"></i>
                            Hướng dẫn</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- Template Javascript -->
<script src="/js/course-learning.js"></script>

</html>