<div id="lectureData">
    <span id="nameLecture"><%= lectures.nameLecture %></span>
    <span id="contentLecture"><%= lectures.contentLecture %></span>
    <span id="noteLecture"><%= lectures.noteLecture %></span>
    <span id="videoId"><%= lectures.VideoId %></span>
    <span id="_id"><%= lectures._id %></span>
</div>