<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <!-- form handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th class="td-max-d">List Content</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < courseContent.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1 %>
                            </td>
                            <td class="td-max-d" style="text-align: justify;">
                                <%= courseContent[i].nameCourseContent %>
                            </td>
                            <td>
                                <a href="newCourseContent?id=<%= courseContent[i].course%>" class="btn border-shadow update">
                                    <span class="text-gradient"><i class="fa-brands fa-discourse"></i></span>
                                </a>
                                <a href="updateContent?id=<%= courseContent[i]._id%>" class="btn border-shadow update">
                                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                </a>
                                <a class="btn border-shadow delete" data-id=<%=courseContent[i]._id %>>
                                    <span class="text-gradient"><i class="fa-solid fa-trash"></i></span>
                                </a>
                                <a href="newLecture?id=<%= courseContent[i]._id%>" class="btn border-shadow update">
                                    <span class="text-gradient"><i class="fa-brands fa-discourse"></i></span>
                                </a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>                          
            </table>

        </form>
    </div>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (window.location.pathname == "/contentList") {
            $ondelete = $(".table tbody td a.delete");
            $ondelete.click(function () {
                var id = $(this).attr("data-id")
                // console.log(id)

                var request = {
                    "url": `http://localhost:3000/api/contentList/${id}`,
                    "method": "DELETE",
                }

                if (confirm("Do you really to delete this Content")) {
                    $.ajax(request).done(function (response) {
                        alert("Content Deleted Successfully!!!");
                        location.reload();
                    })
                }
            })
        }
    });
</script>
<!-- End Main Site -->