<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="fiter">
                <a href="courseList"><i class="fas fa-angle-double-left"></i> All Course</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Course</h2>
        </div>
        <!-- form handling -->
        <form method="POST" id="update_course">
            <div class="add_course">
                <div class="form-group">
                    <label for="nameCourse" class="text-dark">Name Course</label>
                    <input type="hidden" name="id" value="<%= courses._id %>">
                    <input type="text" name="nameCourse" value="<%= courses.nameCourse %>">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" name="descriptionCourse" id="exampleFormControlTextarea1" rows="6"
                        value="<%= courses.descriptionCourse %>"><%= courses.descriptionCourse %></textarea>
                </div>
                <div class="form-group">
                    <label for="videoIdCourse" class="text-dark">Video Id</label>
                    <input type="text" name="videoIdCourse" value="<%= courses.videoIdCourse %>">
                </div>
                <div class="form-group">
                    <label for="costCourse" class="text-dark">Cost Course</label>
                    <input type="text" name="costCourse" value="<%= courses.costCourse %>">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark update">Save</button>
                </div>
            </div>
        </form>
    </div>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#update_course").submit(function (event) {
            event.preventDefault();

            var unindexed_array = $(this).serializeArray();
            // console.log(unindexed_array);
            var data = {};

            $.map(unindexed_array, function(n, i) {
                data[n['name']] = n['value']
            })

            console.log(data);

            var request = {
                "url":`http://localhost:3000/api/courses/${data.id}`,
                "method" : "PUT",
                "data": data
            }

            $.ajax(request).done(function(response){
                alert("Course Update Successfully!!!");
            })

        })
    });
</script>
<!-- End Main Site -->